.color-gray{
    background-color: lightgray;
}
.color-blue{
    background-color: #23c6e766;
}
.color-cadetblue{
    background-color: cadetblue;
}
.color-info{
    background-color:lightgreen;
}
.color-wheat{
    background-color: wheat;
}
.color-yellow{
    background-color:#ffc107;
}
.color-cyan{
    background-color: cyan;
}
.row-color-green{
    background-color: green;
    color:white;
}

.color-goldenrod{
    background-color: goldenrod;
}
.color-button{
    background-color: palegreen;
}
.color-green{
    background-color: #10b166;
}
.color-red{
    background-color: brown;
}
.font-white{
    color:white
}