body{
    font-size: 15px;
    font-weight:600;

}
.main-component{
    margin-top: 20px;
}
.error-div{
    color:white;
    background-color: red;
    display: none;
}
.error{
    font-weight: bold;
    padding:10px;
    color:white;
    background-color: red;
}
.form-input-err{
    font-size: 12px;
    color: red;

}
div *{
    word-break: break-word;

}
.hover:hover{
    background-color: burlywood;
}
.bordered{
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
}
.radius{
    border-radius:10px ;
    box-shadow: none;
        padding: 5px;

}


.new-window {
    position: fixed;
    background-color:#e9ecef;
    top:10px;
    left: 0;
    margin: auto;
    z-index: 1;
  }
.move-handler{
      width: 100%;
      height: 100%;
      margin: 0;
      top:0;
      left: 0;
      cursor: move;
  }
.title-bar{
    position: relative;
    min-height: 38px;
    background-color:#87a59b;
    color:white;
    border:1px solid
}
.title-bar>*{
    position: absolute;
}
.borderbuttom{
    
    border-bottom-width: 2px;
    border-bottom-style:solid  ;
    border-bottom-color: rgba(187, 189, 197, 0.8);
}
.standalone-div{
    padding-bottom: 7px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;


}
.navbar{
    border-bottom-width: 2px;
    border-bottom-style:solid  ;
    border-bottom-color: rgba(187, 189, 197, 0.8);
    background-color: #f8f9fa;

}

.div-main{
    display: flex;
  flex-flow: column;
  height: 100%;
}

.path>a{
    margin-left: 0;
    margin-right: 0;
}
.div-inlineblock{
    display: inline-block;
}
.div-general{
    margin-top: 10px;
    padding: 10px;
}
.div-form *{
    margin-left:10px ;
    margin-right:10px ;
}
table{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
}
label{ 
    vertical-align: middle;
    margin:2px 5px
}

select{
    min-width: 40px;
    font-weight: bold;
}

.main-window {
    display: flex;
    flex-flow: column;
  
    position: relative;

  }
  #main-data {
    height: 100%;
    flex-grow : 1;
  }


.btn-text{
    margin:0;
    padding: 0;
    border:none;
    background:transparent;
    margin-right: 10px;
}
.btn-flat{
    border:1px solid;
    padding:2px 10px;
    margin:2px 5px;
    font-weight: 600;
}
.btn-text:hover{
    z-index: 1;
}
