.div-container{
    overflow: hidden;
    font-size: 17px;
    
}
.div-container> div{

    padding:5px;
    margin-top:20px;
    border:solid 1px rgba(61, 90, 94, 0.1);
    background-color: #23c6e766;
}
label{
    margin: 3px;
    padding: 3px;
   
}
select{
    background-color: skyblue;
}

.label-header{
    background-color: rgb(117, 138, 25);
}
table{
    overflow: scroll;
    padding: 5px;
}
button{
    border:solid 1px ;
    margin: 5px;
    padding: 5px;

}